$footer-color: #262b2f;

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 1rem;
    background-color: rgba(21,23,27,255);
    border-top: 0.1rem solid black;
    
}

.footer-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-text {
    border: 1px solid $footer-color;
    color: $footer-color;
    margin-left: 1rem;
    font-size: 18px; 
    width: 75px;
    height: 80px;
}

.footer-text:hover {
    cursor: pointer;
    border: 1px solid #b08c5e;
    color: #a4a7b6;
}

.footer-text-logo {
    color: #262b2f;
    border-bottom: 1px solid #2a2d33;
    line-height: 0.1em;
    margin: 10px 0 20px;
    padding: 0 50px;
    font-size: 24px;
}

.footer-button {
    margin-right: 4rem;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    color: #feffff;
}

.footer-panel {
    position: absolute;
    bottom: 100%;
    right: 0;
    background-color: #fefffe;
    border: 1px solid $footer-color;
    padding: 0.3rem;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-right: 40px;
    box-shadow: black 0px 0px 30px;
}

.footer-panel-options {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    cursor: pointer;
}

.footer-panel-options:hover {
    color: #c48844;
}

.footer-text-logo span {
    background: #15171b;
    padding: 0 10px; 
}