.logo {
    width: 75px;
    height: 75px;
    margin-left: 2rem;
}

.logo:hover {
    cursor: pointer;
    background-image: url("../images/logo_orange.png");
    
}

.header-par {
    color: rgba(254,255,254,255);
    margin: 0;
    text-align: right;
    white-space: nowrap;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(10,12,17,255);
    box-sizing: border-box;
}